{% extends 'common.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    
    <link rel="stylesheet" href="{% static 'contact.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  
<body>
    
  <div class="container">
    <div class="content">
      <div class="right-side">
        <div class="topic-text">Contact Us</div>
       
      <form method ="POST" action="#">
        {% csrf_token %}
        {% if a %}
        <div class="input-box">
          <input type="text" name='name' placeholder="Enter your name" value={{data.name}} >
        </div>
        <div class="input-box">
          <input type="text" name='email' placeholder="Enter your email" value={{data.email}}>
        </div>
        <div class="input-box">
          <input type="text" name='phone' placeholder="Enter your phone number" value={{data.phone}}>
        </div>
        <div class="input-box">
          <input type="text" name='message'value placeholder="Enter your text" >
        </div>
        {% else %}
        <div class="input-box">
          <input type="text" name='name' placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" name='email' placeholder="Enter your email">
        </div>
        <div class="input-box">
          <input type="text" name='phone' placeholder="Enter your phone number">
        </div>
        <div class="input-box">
          <input type="text" name='message' placeholder="Enter your message">
        </div>
        {% endif %}
        <div class="button">
          <input type="submit" value="Send Now" >
        </div>
        {% if message %}<script>alert("{{message}}")</script>{% endif %}
      </form>
    </div>
    </div>
  </div>
</body>
</html>
{% endblock %}